.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 173px;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
  background-image:-webkit-linear-gradient(left, #3494e6 0, #ec6ead 100%);
	background-image:-o-linear-gradient(left, #3494e6 0, #ec6ead 100%);
	background-image:linear-gradient(to right, #3494e6 0, #ec6ead 100%);
	background-repeat:repeat-x;
}

.App-title {
  font-size: 1.5em;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.PS {
  color: yellow;
  font-size: 0.8em;
}

.Adding {
  margin-left: 0.5em;
  background-color: aqua;
  font-size: 1.2em;
  border-radius: 0.5em;
  border-width: 1;
  border-color: #ec6ead;
}

.TextBox {
  font-size: 1.2em;
  border-width: 1;
  border-color: black;
}

.Return {
  background-color: aqua;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin-top: 0.25em;
  border-width: 1;
  border-color: #ec6ead;
}

.Object {
  background-color: crimson;
  font-size: 2em;
  margin: 20px 16%;
  border-radius: 2em;
}

.Result {
  font-size: 2.5em;
  font-style: italic;
}

.Clear {
  background-color: greenyellow;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin-top: 0.25em;
  margin-left: 0.5em;
  border-width: 1;
  border-color: #ec6ead;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
