.App {
  text-align: center;
  align-items: center;
  font-family: 'Sniglet', cursive;
  margin-bottom: 60px;
}

.App-header {
  color: indigo;
  margin-bottom: 2em;
  background-image:-webkit-linear-gradient(left, #fdbb2d 0, #22c1c3 92%);
	background-image:-o-linear-gradient(left, #fdbb2d 0, #22c1c3 92%);
	background-image:linear-gradient(to right, #fdbb2d 0, #22c1c3 92%);
	background-repeat:repeat-x;
}

.App-footer {
  margin-top: 2em;
  background-image:-webkit-linear-gradient(left, #22c1c3 0, #fdbb2d 92%);
	background-image:-o-linear-gradient(left, #22c1c3 0, #fdbb2d 92%);
	background-image:linear-gradient(to right, #22c1c3 0, #fdbb2d 92%);
  background-repeat:repeat-x;
  width: 50vw;
  margin: 0 auto;
  border-radius: 16px;
}

.App-title {
  font-size: 1.5em;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.ps {
  color: indigo;
  font-size: 0.8em;
}

.textBox {
  font-size: 1.2em;
  border-width: 1;
  border-color: black;
  margin-right: 0.5em;
  width: 33vw;
}

.return {
  background-color: aqua;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin-top: 0.25em;
  border-width: 1;
}

.object {
  background-color: crimson;
  font-size: 2em;
  margin: 20px 16%;
  border-radius: 2em;
}

.result {
  font-size: 2.5em;
  font-style: italic;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myChoices-enter {
  opacity: 0.01;
}

.myChoices-enter.myChoices-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.myChoices-leave {
  opacity: 1;
}

.myChoices-leave.myChoices-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}